<h1 class="text-center">Greetings, Giffers</h1>

<div class="row">
  <div class="col-md-6">
    <%= link_to "View Categories", categories_path, class:"btn btn-default btn-block" %>
  </div>
  
  <div class="col-md-6">
    <%= link_to "View Gifs", gifs_path, class:"btn btn-default btn-block" %>
  </div>
</div>
